.Profile {
  display: flex;
}
.Profilewrap {
  color: var(--text-color);
  display: flex;
  width: 280px;
  flex-direction: column;
  border: 1px solid silver;
  border-bottom: none;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.avatar {
  width: 80px;
  border-radius: 50%;
  margin: 20px 0 20px;
}
.name {
  color: var(--text-color);
  margin-bottom: 20px;
  font-weight: 500;
}
.colorTitle {
  color: silver;
  margin-bottom: 20px;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.Profileitem {
  background-color: gray;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px solid silver;
}
.label {
  margin-bottom: 10px;
}
