.container {
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  margin-right: 4px;
  height: 34px;
}
@media screen and (min-width: 480px) {
  .switch {
    margin-right: 40px;
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 30px;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background:  /* url("https://i.ibb.co/FxzBYR9/night.png"); */
    url("https://i.ibb.co/4KGb0jZ/1821-night-sky-moon-stars-outline.gif");
  /* url("https://i.ibb.co/rHgbX8X/moon.png"); */
  background-repeat: no-repeat;
  background-position: center;
}

.switch input:checked + .slider {
  background-color: transparent;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #444;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  background:  /* url("https://i.ibb.co/7JfqXxB/sunny.png"); */
    url("https://i.ibb.co/F5mNfTj/idea.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
