/* :root {
  accent: #f57b0b;
} */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  /* flex-direction: column; */
  position: relative;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 15px;
}
.paper {
  padding: 20px;
  background-color: #fff;
  transition: all 200ms;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding-top: 10%; */
  /* width: 300px; */
  /* margin-left: auto;
  margin-right: auto; */
}
@media screen and (min-width: 480px) {
  .paper {
    width: 495px;
  }
}

.wrap {
  display: grid;
  width: 180px;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 480px) {
  .wrap {
    width: 380px;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
