.title {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
}
.title:hover {
  transition: all 0.3s cubic-bezier(0, 0, 1, 1);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  color: pink;
}
.activeLink {
  composes: title;
  color: pink;
  margin-right: 10px;
}
.nav {
  display: flex;
}
.userwrap {
  display: flex;
  align-items: center;
}
.titleuser {
  display: inline-block;
  color: white;
  font-size: 10px;
  font-weight: 500;
  width: 57px;
  text-decoration: none;
}
.userBtn {
  cursor: pointer;
  background: #f57b0b;
  border-radius: 6px;
  border: none;
  width: 43px;
  height: 30px;
  color: #fff;
  box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
}
.userBtn:hover {
  background-color: purple;
  transition: box-shadow 0.5s, transform 0.5s;
  transform: scale(1.2);
  color: pink;
}
.avatar {
  display: none;
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 18px;
    margin-right: 10px;
  }
  .titleuser {
    margin-right: 10px;
    font-size: 17px;
    width: 180px;
  }
  .userBtn {
    width: 60px;
    height: 30px;
  }
  .wrap {
    width: 380px;
  }
  .avatar {
    display: unset;
    margin-right: 10px;
  }
}
