.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 1px solid silver;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  padding: 20px 30px 20px 30px;
}

.stat-list {
  display: flex;
}
.Stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px;
  color: wheat;
}
